@import url("https://fonts.googleapis.com/css?family=Playfair+Display:500,600,700,900|Open+Sans:400,600&display=swap&subset=latin-ext");
.columns {
  display: flex;
  margin-right: -1rem;
  margin-left: -1rem; }

.columns--no-margin {
  margin: 0; }

.column, .columns > div {
  padding: 0 1rem;
  flex: 1 100%; }

@media (max-width: 576px) {
  .columns {
    display: block;
    margin: 0; }
    .columns .column, .columns > div {
      width: 100%;
      padding: 0; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", "Gelasio", serif;
  font-weight: 500; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

.cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem; }
  .cards.cards--block {
    grid-gap: 3rem 1rem; }
    .cards.cards--block li {
      list-style: none;
      display: flex;
      flex-flow: column;
      align-items: center;
      text-align: center; }
      .cards.cards--block li:hover svg {
        color: #cfb7a5; }
  .cards.cards--cols-2 {
    grid-template-columns: repeat(2, 1fr); }
  .cards.cards--cols-3 {
    grid-template-columns: repeat(3, 1fr); }
  .cards.cards--cols-4 {
    grid-template-columns: repeat(4, 1fr); }
  .cards svg {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #D8C4B6;
    transition: 0.6s ease-in-out; }
  .cards i {
    font-size: 0.875rem; }

.heading, h1, h2, h3, h4, h5, h6 {
  color: #27303E; }

.heading--center {
  text-align: center; }

@media (max-width: 576px) {
  .cards {
    display: block; }
    .cards.cards--cols-2 {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px; }
    .cards.cards--cols-3 li + li {
      padding-top: 1rem; }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    hyphens: auto; }
  h2 {
    font-size: 2em; }
  h3 {
    font-size: 1.25em; }
  h4 {
    font-size: 1em; } }

.button {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  color: #212529;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0px 2px 2px rgba(39, 48, 62, 0.5); }

.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(2, 93, 140, 0.5); }

.button--primary {
  color: #27303E;
  background: linear-gradient(to bottom, #ffe575 0%, #FFD10F 100%);
  transition: all 0.2s ease-in-out; }
  .button--primary:hover {
    background: linear-gradient(to bottom, #ffeea8 0%, #ffdb42 100%); }

.button--big {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600; }

.section:first-of-type {
  padding-top: 6rem; }

.section:last-of-type {
  padding-bottom: 6rem; }

.section + .section {
  padding-top: 6rem; }

.section__row {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }
  .section__row + .section__row {
    padding-top: 4rem; }

.section__row--wide {
  max-width: 1200px; }

.section--center {
  text-align: center; }

.section__image {
  background-image: url(images/kamil-gliwinski-xcPw1-5OHTk-unsplash.jpg);
  height: 50vh;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed; }

@media (max-width: 576px) {
  .section:first-of-type {
    padding-top: 3rem; }
  .section:last-of-type {
    padding-bottom: 3rem; }
  .section + .section {
    padding-top: 3rem; }
  .section__row + .section__row {
    padding-top: 1rem; } }

.footer {
  font-size: 0.675rem;
  padding: 1rem;
  text-align: center;
  color: rgba(39, 48, 62, 0.3); }
  .footer a {
    color: rgba(39, 48, 62, 0.3); }

.header {
  background-size: cover;
  background-color: #27303E;
  background-image: url("images/alexey-topolyanskiy-DJO2L1RQZZc-unsplash.jpg");
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center; }

.header__content {
  margin: 0 auto;
  max-width: 1200px;
  color: #FAFAFA;
  padding: 1rem; }

.header__heading,
.header__subheading {
  color: #FAFAFA;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.75);
  line-height: 1;
  padding: 0;
  margin: 0; }
  .header__heading span,
  .header__subheading span {
    font-size: 0.25em;
    font-weight: 600; }

.header__heading {
  font-size: 3.5em;
  font-weight: 600; }

.header__subheading {
  font-size: 5em;
  font-weight: 900;
  margin-bottom: 4rem; }

@media (max-width: 576px) {
  .header {
    height: 50vh;
    text-align: center; }
  .header__heading,
  .header__subheading {
    line-height: 1.25;
    font-size: 2em; }
    .header__heading span,
    .header__subheading span {
      display: none; } }

.section-cta {
  padding: 4rem 1rem; }

.contact .columns {
  align-items: center; }

.contact svg {
  color: #cfb7a5;
  width: 40px !important;
  height: 40px; }

.columns .about {
  flex: 1 200%; }

.person-image {
  font-size: 0.875em;
  text-align: center; }
  .person-image img {
    max-width: 200px;
    height: auto;
    border-radius: 4px; }

a {
  color: #025D8C;
  text-decoration: none;
  transition: 0.2s ease-in-out; }
  a:hover {
    color: #1B325F; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.75;
  color: #212529;
  background: #FAFAFA; }

::selection {
  background-color: rgba(2, 93, 140, 0.25); }
